<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="cep_correios_post_url" value="http://www.buscacep.correios.com.br/sistemas/buscacep/resultadoBuscaCepEndereco.cfm"/>
    <add key="cep_excel_output_headers" value="CEP;Bairro/Distrito;Localidade/UF;Logradouro/Nome;Data Processamento"/>
    <add key="cep_informations_at_correios_selector" value="//td"/>
  </appSettings>
</configuration>